@model IEnumerable<MVCApplication.Models.Employee>

<h2>Employee List</h2>

<style>
    /*table{
        width : 100%;
        table-layout : fixed;
        border-collapse : collapse;
    }
    th{
        background-color : grey;
        color : black;
        font-size : 15px;
    }*/
    form {
        margin: 20px;
    }
</style>

<form action="@Url.Action("GetByEmployeeId", "Employee")" method="get">
    <label for=" employeeId">Enter Employee Id: </label>
    <input type="number" id="employeeId" name="id" required />
    <button type="submit">Submit</button>

</form>
@*<table>
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>EmployeeName</th>
            <th>EmployeeGender</th>
            <th>EmployeeLocation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.EmployeeName</td>
                <td>@employee.EmployeeGender</td>
                <td>@employee.EmployeeLocation</td>
                <td>@Html.ActionLink("Details", "GetByEmployeeId", new { id = employee.EmployeeId })</td>
            </tr>

        }

        <


    </tbody>
</table>
*@